/* general settings */
html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}
body {
  background-color:#e6e6e6;
  font-weight:100;
  min-height:100%;
  width:100%;
}
option {
  color:#FFF;
}
.layout-small,
.layout-medium,
.layout-large {
  margin-bottom:10px;
}

.img-thumbnail {
  width: 160px !important;
  height: 160px !important;
  padding: 2px;
  margin: auto;
}

.img-thumbnail img {
  width: 100%;
}

.product-info label {
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.form-search input{
  width: 60px !important;
}
.pagination {
  margin: 0px;
}
.page-header label {
  height: 100%;
  vertical-align: top;
  padding: 5px 10px;
}

.navbar-text {
  float: left;
  width: 50%;
  margin-left: 0px;
}

.navbar-right {
  float: right;
  width: 50%;
  text-align: right;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
  .page-header label {
    display: block;
  }
}

.product-details {
    z-index: 99999;
    position: relative;
}

.img-details {
    width: 300px;
    z-index: 99999;
    height: 300px;
    border: 1px solid #cccccc;
}

.size-info {
    background-color: #cccccc;
    color: white;
    padding: 5px;
    width: 300px;
}

.container-details {
  display: none;
}

.container-details.active {
  display: block !important;
  position: absolute;
  z-index: 99999;
  padding: 15px;
  background: white;
  left: 250px;
  top: 0px;
}